ADF/pipeline/copy rest api.json
{
	"name": "copy rest api",
	"properties": {
		"activities": [
			{
				"name": "Web Keyvault Airline Rest API",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://kv-geekcoders-dev.vault.azure.net/secrets/airine-rest-api/53ad285ee66e4a41818f106f07a7e2b5?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Copy Airline Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Web Keyvault Airline Rest API",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['response']"
								},
								"sink": {
									"path": "$['response']"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "ds_RestAPI_airline_source",
						"type": "DatasetReference",
						"parameters": {
							"url": {
								"value": "@activity('Web Keyvault Airline Rest API').output.value",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_json_tableInfo_parameters",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@concat('Airlines/Date_Part=', formatDateTime(utcNow(),'yyyy-MM-dd'),'/airlines.json' )",
								"type": "Expression"
							},
							"container": "raw"
						}
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-03-04T17:03:42Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}